.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    font-size: 4rem;
}

.headBar {
    min-width: 100%;
    min-height: 20%;
    margin-top: 3rem;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(191, 216, 210);
    /*background-color: #8FD8D2;*/
    /*color: #DF744A;*/
    color: rgb(136, 132, 216);
    padding: 8rem 2rem;
}

.text {
    color: #4F4F4F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}