.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    font-size: 5rem;
    color: #ba9077;
    font-weight: bolder;
}

.headBar {
    background-image: url("../assets/img/banner.png");
    min-width: 80%;
    min-height: 20%;
    background-attachment: scroll;
    background-clip: border-box;
    /*background-color: rgb(191, 216, 210);*/
    /*background-color: #8FD8D2;*/
    /*color: #DF744A;*/
    padding: 8rem 2rem;
    margin-left: 12rem;
}

.text {
    color: #4F4F4F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
}