.main {
  background: var(--container-gray-background);
}

.mainContainer {
  background: var(--container-white-background);
  /*padding: 1rem;*/
  padding: 5rem 2rem;
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pageHeader {
  font-family: 'Coming Soon', cursive;
  font-size: 14px;
}

.pageDescription {
  font-family: 'Coming Soon', cursive;
  font-size: 12px;
}

.summaryRow {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.title {
  font-family: 'Coming Soon', cursive;
  padding-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.stupidFont {
  font-family: 'Coming Soon', cursive;
}

.charts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5rem;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
